%ul
  %li
    %a{href: "/"}
      Blog
  %li
    = link_to "Ethos", "/ethos"
  %li
    = link_to "The Ruins", "/ruins"
  %li
    = link_to "The New Ruiners", "/ruiners"
  %li
    = link_to "Particpate", "/participate"
  %li
    = link_to "Activities", "/whats_to_do"
  %li
    = link_to "BMX", "/bmx"
  %li
    = link_to "Contact Us", "/contact"