%h1 The New Ruiners
= image_tag "/images/ruiners.JPG"

%p We are three friends from unique backgrounds and with a common vision. Nobody ever thought we would start a hostel and permaculture project on the beach in Mexico, except for us. This is our shared passion and our home together.

%h2.bar-header Nicholaus
= image_tag "/images/nicruiner.JPG"
%p Nicholaus is a web programmer from the Ozark Mountains. He has lived in mexico since 2009. His #{link_to "back to the land", "http://en.wikipedia.org/wiki/Back-to-the-land_movement"} parents and upbringing mixed with his technological inclinations instill him with the faith that the best of both worlds can be accomplished. Ecosustainable values and appropriate technological choices are what drive him. Nicholaus has worked remotely for many years and enjoyed the cyber nomadic lifestyle, working from hostels, bus, planes, trains and friends houses around the world. But now he is ready to put down some roots and build something meaningful. So now he's Lead Nerd and Cat Herder at New Ruins
  
%h2.bar-header Dagen
= image_tag "/images/dagenruiner.jpg"
%p Dagen, Nic's cousin, shares the same hippie childhood experiences, but choose more of an engineering path. The son of a fruit tree expert is now the lead builder of New Ruins. He has been building for as long as he can remember. Everything from houses, to outhouses; solar systems for farms to double decker bikes. Pictured above with the love of his life, his daughter Marely Mayapple. Dagen's enthusiasm for life, New Ruins, and even the most mundane things is evident after a quick conversation with him.
  
%h2.bar-header Elena
= image_tag "/images/elenaruiner.jpg"
%p Elena is Alaska born and raised, daughter of a sailer. Elena studied sociology and latin american studies. But her true passion lies in Permaculture and gardening. Avid rock climber and in-house zombie makeup specialist, she's a New Ruiner thru and thru.

